h1 {
    margin: 2vw;
}

main a {
    width: 20vw;
}

main img {
    width: 20vw;
}

main h1 {
    font-size: large;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}